<ion-header>
  <ion-toolbar>
    <ion-title>Don't Miss a Thing</ion-title>
    <ion-button (click)="closeModal()" slot="end" fill="clear">Close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-text>Welcome to Enterprise App Summit 2021!
    <p>Get reminders when the event is about to start, talk recordings have been published, 
      and more!</p>
    </ion-text> <p></p>
    <ion-button (click)="onContinue()" expand="block">Continue</ion-button>
  </div>
</ion-content>
