<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sponsors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sponsors</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list-header>Platinum</ion-list-header>
  <div class="ion-padding">
    <app-sponsor-card
      *ngFor="let sponsor of platinumSponsors"
      [id]="sponsor.id"
      [button]="true"
    >
    </app-sponsor-card>
  </div>

  <ion-list-header>Gold</ion-list-header>
  <div class="ion-padding">
    <app-sponsor-card
      *ngFor="let sponsor of goldSponsors"
      [id]="sponsor.id"
      [button]="true"
    >
    </app-sponsor-card>
  </div>

  <ion-list-header>Silver</ion-list-header>
  <div class="ion-padding">
    <app-sponsor-card
      *ngFor="let sponsor of silverSponsors"
      [id]="sponsor.id"
      [button]="true"
    >
    </app-sponsor-card>
  </div>

  <ion-list-header>Bronze</ion-list-header>
  <div class="ion-padding">
    <app-sponsor-card
      *ngFor="let sponsor of bronzeSponsors"
      [id]="sponsor.id"
      [button]="true"
    >
    </app-sponsor-card>
  </div>

</ion-content>
