<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sponsors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sponsors</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding-top">
    <ion-list-header class="eas-header-large">Platinum</ion-list-header>
    <div class="ion-padding grid">
      <app-sponsor-card
        *ngFor="let sponsor of platinumSponsors"
        [id]="sponsor.id"
        [button]="true"
      >
      </app-sponsor-card>
    </div>

    <ion-list-header class="eas-header-large">Gold</ion-list-header>
    <div class="ion-padding grid">
      <app-sponsor-card
        *ngFor="let sponsor of goldSponsors"
        [id]="sponsor.id"
        [button]="true"
      >
      </app-sponsor-card>
    </div>

    <ion-list-header class="eas-header-large">Silver</ion-list-header>
    <div class="ion-padding grid">
      <app-sponsor-card
        *ngFor="let sponsor of silverSponsors"
        [id]="sponsor.id"
        [button]="true"
      >
      </app-sponsor-card>
    </div>

    <ion-list-header class="eas-header-large">Bronze</ion-list-header>
    <div class="ion-padding grid">
      <app-sponsor-card
        *ngFor="let sponsor of bronzeSponsors"
        [id]="sponsor.id"
        [button]="true"
      >
      </app-sponsor-card>
    </div>
  </div>

</ion-content>
