<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Enter to win</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="submitForm()">Submit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  <form (ngSubmit)="onSubmit()" #hubspotForm="ngForm">
    <ion-list-header>Contact Info</ion-list-header>
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input placeholder="John" [(ngModel)]="hubspotData.firstname" name="firstname" #firstName="ngModel" required></ion-input>

        <ion-text slot="error" *ngIf="!firstName.valid && (!firstName.pristine || hubspotForm.submitted)">First name is required</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input placeholder="Doe" [(ngModel)]="hubspotData.lastname" name="lastname" #lastName="ngModel" required></ion-input>
        <ion-text slot="error" *ngIf="!lastName.valid && (!lastName.pristine || hubspotForm.submitted)">Last name is required</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Work Email</ion-label>
        <ion-input type="email" placeholder="jdoe@ionic.io" [(ngModel)]="hubspotData.email" name="email" #email="ngModel" required></ion-input>
        <ion-text class="ion-padding-bottom" slot="error" *ngIf="!email.valid && (!email.pristine || hubspotForm.submitted)">Email is required</ion-text>

      </ion-item>
    </ion-list>
    <ion-list-header>Mailing Address</ion-list-header>
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Street</ion-label>
        <ion-input placeholder="123 Any Street" [(ngModel)]="hubspotData.address" name="address" #street="ngModel" required></ion-input>
        <ion-text slot="error" *ngIf="!street.valid && (!street.pristine || hubspotForm.submitted)">Street is required</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>City</ion-label>
        <ion-input placeholder="Boston" [(ngModel)]="hubspotData.city" name="city" #city="ngModel" required></ion-input>
        <ion-text slot="error" *ngIf="!city.valid && (!city.pristine || hubspotForm.submitted)">City is required</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Zip</ion-label>
        <ion-input placeholder="02215" [(ngModel)]="hubspotData.zip" name="zip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select [(ngModel)]="hubspotData.country_pl_" value="United States" name="country" #country="ngModel" okText="Okay" cancelText="Dismiss" required>
          <ion-select-option value="United States">United States</ion-select-option>
          <ion-select-option value="Aland Islands">Aland Islands</ion-select-option>
          <ion-select-option value="Angola">Angola</ion-select-option>
          <ion-select-option value="Anguilla">Anguilla</ion-select-option>
          <ion-select-option value="Antarctica">Antarctica</ion-select-option>
          <ion-select-option value="Antigua & Barbuda">Antigua & Barbuda</ion-select-option>
          <ion-select-option value="Argentina">Argentina</ion-select-option>
          <ion-select-option value="Armenia">Armenia</ion-select-option>
          <ion-select-option value="Aruba">Aruba</ion-select-option>
          <ion-select-option value="Australia">Australia</ion-select-option>
          <ion-select-option value="Austria">Austria</ion-select-option>
          <ion-select-option value="Azerbaijan">Azerbaijan</ion-select-option>
          <ion-select-option value="Baden">Baden</ion-select-option>
          <ion-select-option value="Bahamas">Bahamas</ion-select-option>
          <ion-select-option value="Bahrain">Bahrain</ion-select-option>
          <ion-select-option value="Bangladesh">Bangladesh</ion-select-option>
          <ion-select-option value="Barbados">Barbados</ion-select-option>
          <ion-select-option value="Belarus">Belarus</ion-select-option>
          <ion-select-option value="Belgium">Belgium</ion-select-option>
          <ion-select-option value="Belize">Belize</ion-select-option>
          <ion-select-option value="Benin">Benin</ion-select-option>
          <ion-select-option value="Bhutan">Bhutan</ion-select-option>
          <ion-select-option value="Bolivia">Bolivia</ion-select-option>
          <ion-select-option value="Bosnia & Herzegovina">Bosnia & Herzegovina</ion-select-option>
          <ion-select-option value="Botswana">Botswana</ion-select-option>
          <ion-select-option value="British Indian Ocean Territory">British Indian Ocean Territory</ion-select-option>
          <ion-select-option value="Brazil">Brazil</ion-select-option>
          <ion-select-option value="Brunei">Brunei</ion-select-option>
          <ion-select-option value="Bulgaria">Bulgaria</ion-select-option>
          <ion-select-option value="Burkina Faso">Burkina Faso</ion-select-option>
          <ion-select-option value="Burundi">Burundi</ion-select-option>
          <ion-select-option value="Cabo Verde">Cabo Verde</ion-select-option>
          <ion-select-option value="Cambodia">Cambodia</ion-select-option>
          <ion-select-option value="Cameroon">Cameroon</ion-select-option>
          <ion-select-option value="Canada">Canada</ion-select-option>
          <ion-select-option value="Cape Verde">Cape Verde</ion-select-option>
          <ion-select-option value="Cayman Islands">Cayman Islands</ion-select-option>
          <ion-select-option value="Central African Republic">Central African Republic</ion-select-option>
          <ion-select-option value="Chad">Chad</ion-select-option>
          <ion-select-option value="Chile">Chile</ion-select-option>
          <ion-select-option value="China">China</ion-select-option>
          <ion-select-option value="Christmas Island">Christmas Island</ion-select-option>
          <ion-select-option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</ion-select-option>
          <ion-select-option value="Colombia">Colombia</ion-select-option>
          <ion-select-option value="Comoros">Comoros</ion-select-option>
          <ion-select-option value="Cook Islands">Cook Islands</ion-select-option>
          <ion-select-option value="Costa Rica">Costa Rica</ion-select-option>
          <ion-select-option value="Croatia">Croatia</ion-select-option>
          <ion-select-option value="Cuba">Cuba</ion-select-option>
          <ion-select-option value="Cyprus">Cyprus</ion-select-option>
          <ion-select-option value="Czech Republic">Czech Republic</ion-select-option>
          <ion-select-option value="Côte d'Ivoire">Côte d'Ivoire</ion-select-option>
          <ion-select-option value="Democratic Republic of the Congo">Democratic Republic of the Congo</ion-select-option>
          <ion-select-option value="Denmark">Denmark</ion-select-option>
          <ion-select-option value="Djibouti">Djibouti</ion-select-option>
          <ion-select-option value="Dominica">Dominica</ion-select-option>
          <ion-select-option value="Dominican Republic">Dominican Republic</ion-select-option>
          <ion-select-option value="East Timor">test</ion-select-option>
          <ion-select-option value="Ecuador">test</ion-select-option>
          <ion-select-option value="Egypt">test</ion-select-option>
          <ion-select-option value="El Salvador">test</ion-select-option>
          <ion-select-option value="Equatorial Guinea">test</ion-select-option>
          <ion-select-option value="Eritrea">test</ion-select-option>
          <ion-select-option value="Estonia">test</ion-select-option>
          <ion-select-option value="Ethiopia">test</ion-select-option>
          <ion-select-option value="Fiji">test</ion-select-option>
          <ion-select-option value="Finland">test</ion-select-option>
          <ion-select-option value="France">test</ion-select-option>
          <ion-select-option value="Gabon">test</ion-select-option>
          <ion-select-option value="Gambia">test</ion-select-option>
          <ion-select-option value="Georgia">test</ion-select-option>
          <ion-select-option value="Germany">test</ion-select-option>
          <ion-select-option value="Ghana">test</ion-select-option>
          <ion-select-option value="Greece">test</ion-select-option>
          <ion-select-option value="Grenada">test</ion-select-option>
          <ion-select-option value="Guatemala">test</ion-select-option>
          <ion-select-option value="Guinea">test</ion-select-option>
          <ion-select-option value="Guinea-Bissau">test</ion-select-option>
          <ion-select-option value="Guyana">test</ion-select-option>
          <ion-select-option value="Haiti">test</ion-select-option>
          <ion-select-option value="Honduras">test</ion-select-option>
          <ion-select-option value="Hungary">test</ion-select-option>
          <ion-select-option value="Iceland">test</ion-select-option>
          <ion-select-option value="India">test</ion-select-option>
          <ion-select-option value="Indonesia">test</ion-select-option>
          <ion-select-option value="Iran">test</ion-select-option>
          <ion-select-option value="Iraq">test</ion-select-option>
          <ion-select-option value="Ireland {Republic}">test</ion-select-option>
          <ion-select-option value="Israel">test</ion-select-option>
          <ion-select-option value="Italy">test</ion-select-option>
          <ion-select-option value="Ivory Coast">test</ion-select-option>
          <ion-select-option value="Jamaica">test</ion-select-option>
          <ion-select-option value="Japan">test</ion-select-option>
          <ion-select-option value="Jordan">test</ion-select-option>
          <ion-select-option value="Kazakhstan">test</ion-select-option>
          <ion-select-option value="Kenya">test</ion-select-option>
          <ion-select-option value="Kiribati">test</ion-select-option>
          <ion-select-option value="Korea North">test</ion-select-option>
          <ion-select-option value="Korea South">test</ion-select-option>
          <ion-select-option value="Kosovo">test</ion-select-option>
          <ion-select-option value="Kuwait">test</ion-select-option>
          <ion-select-option value="Kyrgyzstan">test</ion-select-option>
          <ion-select-option value="Laos">test</ion-select-option>
          <ion-select-option value="Latvia">test</ion-select-option>
          <ion-select-option value="Lebanon">test</ion-select-option>
          <ion-select-option value="Lesotho">test</ion-select-option>
          <ion-select-option value="Liberia">test</ion-select-option>
          <ion-select-option value="Libya">test</ion-select-option>
          <ion-select-option value="Liechtenstein">test</ion-select-option>
          <ion-select-option value="Lithuania">test</ion-select-option>
          <ion-select-option value="Luxembourg">test</ion-select-option>
          <ion-select-option value="Macedonia">test</ion-select-option>
          <ion-select-option value="Madagascar">test</ion-select-option>
          <ion-select-option value="Malawi">test</ion-select-option>
          <ion-select-option value="Malaysia">test</ion-select-option>
          <ion-select-option value="Maldives">test</ion-select-option>
          <ion-select-option value="Mali">test</ion-select-option>
          <ion-select-option value="Malta">test</ion-select-option>
          <ion-select-option value="Marshall Islands">test</ion-select-option>
          <ion-select-option value="Mauritania">test</ion-select-option>
          <ion-select-option value="Mauritius">test</ion-select-option>
          <ion-select-option value="Mexico">test</ion-select-option>
          <ion-select-option value="Micronesia">test</ion-select-option>
          <ion-select-option value="Moldova">test</ion-select-option>
          <ion-select-option value="Monaco">test</ion-select-option>
          <ion-select-option value="Mongolia">test</ion-select-option>
          <ion-select-option value="Montenegro">test</ion-select-option>
          <ion-select-option value="Morocco">test</ion-select-option>
          <ion-select-option value="Mozambique">test</ion-select-option>
          <ion-select-option value="Myanmar, {Burma}">test</ion-select-option>
          <ion-select-option value="Namibia">test</ion-select-option>
          <ion-select-option value="Nauru">test</ion-select-option>
          <ion-select-option value="Nepal">test</ion-select-option>
          <ion-select-option value="Netherlands">test</ion-select-option>
          <ion-select-option value="New Zealand">test</ion-select-option>
          <ion-select-option value="Nicaragua">test</ion-select-option>
          <ion-select-option value="Niger">test</ion-select-option>
          <ion-select-option value="Nigeria">test</ion-select-option>
          <ion-select-option value="Norway">test</ion-select-option>
          <ion-select-option value="Oman">test</ion-select-option>
          <ion-select-option value="Pakistan">test</ion-select-option>
          <ion-select-option value="Palau">test</ion-select-option>
          <ion-select-option value="Panama">test</ion-select-option>
          <ion-select-option value="Papua New Guinea">test</ion-select-option>
          <ion-select-option value="Paraguay">test</ion-select-option>
          <ion-select-option value="Peru">test</ion-select-option>
          <ion-select-option value="Philippines">test</ion-select-option>
          <ion-select-option value="Poland">test</ion-select-option>
          <ion-select-option value="Portugal">test</ion-select-option>
          <ion-select-option value="Qatar">test</ion-select-option>
          <ion-select-option value="Romania">test</ion-select-option>
          <ion-select-option value="Russian Federation">test</ion-select-option>
          <ion-select-option value="Rwanda">test</ion-select-option>
          <ion-select-option value="St Kitts & Nevis">test</ion-select-option>
          <ion-select-option value="St Lucia">test</ion-select-option>
          <ion-select-option value="Saint Vincent & the Grenadines">test</ion-select-option>
          <ion-select-option value="Samoa">test</ion-select-option>
          <ion-select-option value="San Marino">test</ion-select-option>
          <ion-select-option value="Sao Tome & Principe">test</ion-select-option>
          <ion-select-option value="Saudi Arabia">test</ion-select-option>
          <ion-select-option value="Senegal">test</ion-select-option>
          <ion-select-option value="Serbia">test</ion-select-option>
          <ion-select-option value="Seychelles">test</ion-select-option>
          <ion-select-option value="Sierra Leone">test</ion-select-option>
          <ion-select-option value="Singapore">test</ion-select-option>
          <ion-select-option value="Slovakia">test</ion-select-option>
          <ion-select-option value="Slovenia">test</ion-select-option>
          <ion-select-option value="Solomon Islands">test</ion-select-option>
          <ion-select-option value="Somalia">test</ion-select-option>
          <ion-select-option value="South Africa">test</ion-select-option>
          <ion-select-option value="South Sudan">test</ion-select-option>
          <ion-select-option value="Spain">test</ion-select-option>
          <ion-select-option value="Sri Lanka">test</ion-select-option>
          <ion-select-option value="Sudan">test</ion-select-option>
          <ion-select-option value="Suriname">test</ion-select-option>
          <ion-select-option value="Swaziland">test</ion-select-option>
          <ion-select-option value="Sweden">test</ion-select-option>
          <ion-select-option value="Switzerland">test</ion-select-option>
          <ion-select-option value="Syria">test</ion-select-option>
          <ion-select-option value="Taiwan">test</ion-select-option>
          <ion-select-option value="Tajikistan">test</ion-select-option>
          <ion-select-option value="Tanzania">test</ion-select-option>
          <ion-select-option value="Thailand">test</ion-select-option>
          <ion-select-option value="Togo">test</ion-select-option>
          <ion-select-option value="Tonga">test</ion-select-option>
          <ion-select-option value="Trinidad & Tobago">test</ion-select-option>
          <ion-select-option value="Tunisia">test</ion-select-option>
          <ion-select-option value="Turkey">test</ion-select-option>
          <ion-select-option value="Turkmenistan">test</ion-select-option>
          <ion-select-option value="Tuvalu">test</ion-select-option>
          <ion-select-option value="Uganda">test</ion-select-option>
          <ion-select-option value="Ukraine">test</ion-select-option>
          <ion-select-option value="United Arab Emirates">test</ion-select-option>
          <ion-select-option value="United Kingdom">test</ion-select-option>
          <ion-select-option value="Uruguay">test</ion-select-option>
          <ion-select-option value="Uzbekistan">test</ion-select-option>
          <ion-select-option value="Vanuatu">test</ion-select-option>
          <ion-select-option value="Vatican City">test</ion-select-option>
          <ion-select-option value="Venezuela">test</ion-select-option>
          <ion-select-option value="Vietnam">test</ion-select-option>
          <ion-select-option value="Yemen">test</ion-select-option>
          <ion-select-option value="Zambia">test</ion-select-option>
          <ion-select-option value="Zimbabwe">test</ion-select-option>
        </ion-select>
        <ion-text class="ion-padding-bottom" slot="error" *ngIf="!country.valid && (!country.pristine || hubspotForm.submitted)">Country is required</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>State</ion-label>
        <ion-input placeholder="United States" [(ngModel)]="hubspotData.state" name="state" #state="ngModel"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list-header>Preferences</ion-list-header>
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>T-shirt Size</ion-label>
        <ion-select [(ngModel)]="hubspotData.t_shirt_size" value="Small" name="tshirt" okText="Okay" cancelText="Dismiss" required>
          <ion-select-option value="Small">Small</ion-select-option>
          <ion-select-option value="Medium">Medium</ion-select-option>
          <ion-select-option value="Large">Large</ion-select-option>
          <ion-select-option value="X-Large">X-Large</ion-select-option>
          <ion-select-option value="2X- Large">2X-Large</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
