ion-content {
    // --background: url(../../../assets/splash.png) no-repeat center center / cover;
    --background: var(--ion-color-light);
}

.buttons {
    margin-top:5em;
    height: 5em;    
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    height: 100%;
    overflow-y: hidden;
}

ion-button {
    min-width: 200px;
    --border-radius: 30px;
}

.logo {
    width: 30vw;
    min-height: 120px;
    max-width: 200px;
}

.show {
    opacity: 1;
    transition: opacity 1s;
 }
 
 .hide {
    opacity: 0;
 }